<!DOCTYPE html>
<html>
<head>
  <title>CSS Cards</title>\
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css">
  <link rel="stylesheet" type="text/css" href="slides.component.css">
  <script>
    (function() {
  
  var slideContainer = $('.slide-container');
  
  slideContainer.slick();
  
  $('.clash-card__image img').hide();
  $('.slick-active').find('.clash-card img').fadeIn(200);
  
  // On before slide change
  slideContainer.on('beforeChange', function(event, slick, currentSlide, nextSlide) {
    $('.slick-active').find('.clash-card img').fadeOut(1000);
  });
  
  // On after slide change
  slideContainer.on('afterChange', function(event, slick, currentSlide) {
    $('.slick-active').find('.clash-card img').fadeIn(200);
  });
  
})();

  </script>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
            <li class="nav-item">
                    <a routerLink="/app-solar-system" routerLinkActive="active" class="nav-link">Solar System</a>
            </li>
        <li class="nav-item">
            <a routerLink="/threedmodel" routerLinkActive="active" class="nav-link">3D Model</a>
        </li>
        
        <li class="nav-item">
            <a routerLink="/slides" routerLinkActive="active" class="nav-link">Slides</a>
        </li>
        <li class="nav-item">
            <a routerLink="/slidess" routerLinkActive="active" class="nav-link">Information</a>
        </li>
    </ul>    
    
</nav>

<button class="top-right" (click)="home()">HOME</button> 
  <div class="bg">

<div class="star-field"></div>
<div class="layer"></div>
<div class="layer"></div>
<div class="layer"></div>

  
    <div class="slide-container">
      
      <div class="wrapper">
        <div class="clash-card barbarian">
          <div class="clash-card__image clash-card__image--barbarian">
            <img src="../assets/mercury-3.gif" alt="barbarian" />
          </div>
          <div class="clash-card__level clash-card__level--barbarian">Terrestrial</div>
          <div class="clash-card__unit-name">Mercury</div>
          <div class="clash-card__unit-description">
            Mercury, the innermost planet of the solar system and the eighth in size and mass. Its closeness to the Sun and its smallness make it the most elusive of the planets visible to the unaided eye. Because its rising or setting is always within about two hours of the Sun’s, it is never observable when the sky is fully dark. Mercury is designated by the symbol ☿.
          </div>
    
          <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
            <div class="one-third">
              <div class="stat">2,439.7 km<sup></sup></div>
              <div class="stat-value">Size</div>
            </div>
    
            <div class="one-third">
              <div class="stat">57,909,227 km
            </div>
              <div class="stat-value">Distance From Sun</div>
            </div>
    
            <div class="one-third no-border">
              <div class="stat">87.97 days</div>
              <div class="stat-value">Orbit Around Sun</div>
            </div>
    
          </div>
    
        </div> <!-- end clash-card barbarian-->
      </div> <!-- end wrapper -->
      
      <div class="wrapper">
        <div class="clash-card archer">
          <div class="clash-card__image clash-card__image--archer">
            <img src="../assets/Veenus.gif" alt="archer" />
          </div>
          <div class="clash-card__level clash-card__level--archer">Terrestrial</div>
          <div class="clash-card__unit-name">Venus</div>
          <div class="clash-card__unit-description">
            Venus, second planet from the Sun and sixth in the solar system in size and mass. No planet approaches closer to Earth than Venus; at its nearest it is the closest large body to Earth other than the Moon. Because Venus’s orbit is nearer the Sun than Earth’s, the planet is always roughly in the same direction in the sky as the Sun and can be seen only in the hours near sunrise or sunset. When it is visible, it is the most brilliant planet in the sky. Venus is designated by the symbol ♀.
          </div>
    
          <div class="clash-card__unit-stats clash-card__unit-stats--archer clearfix">
            <div class="one-third">
              <div class="stat">6,051.8 km<sup></sup></div>
              <div class="stat-value">Size</div>
            </div>
    
            <div class="one-third">
              <div class="stat">108,209,475 km
            </div>
              <div class="stat-value">Distance From Sun</div>
            </div>
    
            <div class="one-third no-border">
              <div class="stat">224.7 Earth days</div>
              <div class="stat-value">Orbit Around Sun</div>
            </div>
    
          </div>
    
        </div> <!-- end clash-card archer-->
      </div> <!-- end wrapper -->



      <div class="wrapper">
        <div class="clash-card giant">
          <div class="clash-card__image clash-card__image--giant">
            <img src="../assets/giphy.gif" alt="giant" />
          </div>
          <div class="clash-card__level clash-card__level--giant">Terrestrial</div>
          <div class="clash-card__unit-name">Earth</div>
          <div class="clash-card__unit-description">
            Earth, third planet from the Sun and the fifth largest planet in the solar system in terms of size and mass. Its single most outstanding feature is that its near-surface environments are the only places in the universe known to harbour life. It is designated by the symbol ♁. Earth’s name in English, the international language of astronomy, derives from Old English and Germanic words for ground and earth, and it is the only name for a planet of the solar system that does not come from Greco-Roman mythology.          </div>
    
          <div class="clash-card__unit-stats clash-card__unit-stats--giant clearfix">
            <div class="one-third">
              <div class="stat">6,378.14 km<sup></sup></div>
              <div class="stat-value">Size</div>
            </div>
    
            <div class="one-third">
              <div class="stat">149,598,262 km 
            </div>
              <div class="stat-value">Distance From Sun</div>
            </div>
    
            <div class="one-third no-border">
              <div class="stat">365.25 Earth days</div>
              <div class="stat-value">Orbit Around Sun</div>
            </div>
    
          </div>
    
        </div> <!-- end clash-card archer-->
      </div> <!-- end wrapper -->
      
      
      <div class="wrapper">
        <div class="clash-card goblin">
          <div class="clash-card__image clash-card__image--goblin">
            <img src="../assets/MARS.gif" alt="goblin" />
          </div>
          <div class="clash-card__level clash-card__level--goblin">Terrestrial</div>
          <div class="clash-card__unit-name">Mars</div>
          <div class="clash-card__unit-description">
            Mars, fourth planet in the solar system in order of distance from the Sun and seventh in size and mass. It is a periodically conspicuous reddish object in the night sky. Mars is designated by the symbol ♂.          </div>
    
          <div class="clash-card__unit-stats clash-card__unit-stats--giant clearfix">
            <div class="one-third">
                <div class="stat">3,396.2 km<sup></sup></div>
                <div class="stat-value">Size</div>
              </div>
      
              <div class="one-third">
                <div class="stat"> 227,943,824 km
              </div>
                <div class="stat-value">Distance From Sun</div>
              </div>
      
              <div class="one-third no-border">
                <div class="stat"> 686.98 Earth days</div>
                <div class="stat-value">Orbit Around Sun</div>
              </div>
              
    
          </div>
        </div>
        </div> <!-- end clash-card giant-->




      <div class="wrapper">
        <div class="clash-card wizard">
          <div class="clash-card__image clash-card__image--wizard">
            <img src="../assets/JUPITER.gif" alt="wizard" />
          </div>
          <div class="clash-card__level clash-card__level--wizard"> Gas Giant</div>
          <div class="clash-card__unit-name">Jupiter</div>
          <div class="clash-card__unit-description">
            Jupiter, the most massive planet of the solar system and the fifth in distance from the Sun. It is one of the brightest objects in the night sky; only the Moon, Venus, and sometimes Mars are more brilliant. Jupiter is designated by the symbol ♃.          </div>
    
          <div class="clash-card__unit-stats clash-card__unit-stats--wizard clearfix">
            <div class="one-third">
              <div class="stat">69,911 km<sup></sup></div>
              <div class="stat-value">Size</div>
            </div>
    
            <div class="one-third">
              <div class="stat">778,340,821 km
            </div>
              <div class="stat-value">Distance From Sun</div>
            </div>
    
            <div class="one-third no-border">
              <div class="stat"> 4,332.59 Earth days</div>
              <div class="stat-value">Orbit Around Sun</div>
            </div>
    
          </div>
    
        </div> <!-- end clash-card archer-->
      </div> <!-- end wrapper -->


      <div class="wrapper">
        <div class="clash-card fighter">
          <div class="clash-card__image clash-card__image--fighter">
            <img src="../assets/SATURN.gif" alt="fighter" />
          </div>
          <div class="clash-card__level clash-card__level--fighter">Gas-Giant</div>
          <div class="clash-card__unit-name">Saturn</div>
          <div class="clash-card__unit-description">
            Saturn, second largest planet of the solar system in mass and size and the sixth nearest planet in distance to the Sun. In the night sky Saturn is easily visible to the unaided eye as a non-twinkling point of light. When viewed through even a small telescope, the planet encircled by its magnificent rings is arguably the most sublime object in the solar system. Saturn is designated by the symbol ♄.          </div>
    
          <div class="clash-card__unit-stats clash-card__unit-stats--fighter clearfix">
            <div class="one-third">
              <div class="stat">60,268 km<sup></sup></div>
              <div class="stat-value">Size</div>
            </div>
    
            <div class="one-third">
              <div class="stat">1,426,666,000 km
            </div>
              <div class="stat-value">Distance From Sun</div>
            </div>
    
            <div class="one-third no-border">
              <div class="stat">10,759 Earth days</div>
              <div class="stat-value">Orbit Around Sun</div>
            </div>
    
          </div>
    
        </div> <!-- end clash-card archer-->
      </div> <!-- end wrapper -->
      


      <div class="wrapper">
        <div class="clash-card smack">
          <div class="clash-card__image clash-card__image--smack">
            <img src="../assets/URANUS.gif" alt="smack" />
          </div>
          <div class="clash-card__level clash-card__level--smack">Ice-Giant</div>
          <div class="clash-card__unit-name">Uranus</div>
          <div class="clash-card__unit-description">
            Uranus, seventh planet in distance from the Sun and the least massive of the solar system’s four giant, or Jovian, planets, which also include Jupiter, Saturn, and Neptune. At its brightest, Uranus is just visible to the unaided eye as a blue-green point of light. It is designated by the symbol ♅.          </div>
    
          <div class="clash-card__unit-stats clash-card__unit-stats--smack clearfix">
            <div class="one-third">
              <div class="stat">25,559 km
                <sup></sup></div>
              <div class="stat-value">Size</div>
            </div>
    
            <div class="one-third">
              <div class="stat">2,870,658,000 km 

            </div>
              <div class="stat-value">Distance From Sun</div>
            </div>
    
            <div class="one-third no-border">
              <div class="stat">30,589 Earth days</div>
              <div class="stat-value">Orbit Around Sun</div>
            </div>
    
          </div>
    
        </div> <!-- end clash-card archer-->
      </div> <!-- end wrapper -->
      


      <div class="wrapper">
        <div class="clash-card yeah">
          <div class="clash-card__image clash-card__image--yeah">
            <img src="../assets/NEPTUNE.gif" alt="yeah" />
          </div>
          <div class="clash-card__level clash-card__level--yeah">Ice-Giant</div>
          <div class="clash-card__unit-name">Neptune</div>
          <div class="clash-card__unit-description">
            Neptune, third most massive planet of the solar system and the eighth and outermost planet from the Sun. Because of its great distance from Earth, it cannot be seen with the unaided eye. With a small telescope, it appears as a tiny, faint blue-green disk. It is designated by the symbol ♆.          </div>
    
          <div class="clash-card__unit-stats clash-card__unit-stats--yeah clearfix">
            <div class="one-third">
              <div class="stat">24,764 km<sup></sup></div>
              <div class="stat-value">Size</div>
            </div>
    
            <div class="one-third">
              <div class="stat">4,498,396,000 km
            </div>
              <div class="stat-value">Distance From Sun</div>
            </div>
    
            <div class="one-third no-border">
              <div class="stat">60,190 Earth days</div>
              <div class="stat-value">Orbit Around Sun</div>
            </div>
    
          </div>
    
        </div> <!-- end clash-card archer-->
      </div> <!-- end wrapper -->
    </div> <!-- end wrapper -->
  </div>
      
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js">
</script>
<script type="text/javascript" src="script.js"></script>

      </body>
      </html>
    
