<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
            <li class="nav-item">
                    <a routerLink="/app-solar-system" routerLinkActive="active" class="nav-link">Solar System</a>
            </li>
        <li class="nav-item">
            <a routerLink="/threedmodel" routerLinkActive="active" class="nav-link">3D Model</a>
        </li>
       
        <li class="nav-item">
            <a routerLink="/slides" routerLinkActive="active" class="nav-link">Slides</a>
        </li>
        <li class="nav-item">
            <a routerLink="/slidess" routerLinkActive="active" class="nav-link">Information</a>
        </li>
    </ul>    
</nav>
<button class="top-right" (click)="home()">HOME</button> 
