<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bg"></div>

<div class="star-field">
<div class="layer"></div>
<div class="layer"></div>
<div class="layer"></div>

   <div class="text-center">Solar System
    In this project we will be building an app mapping out our solar system. As well as each planets relative positions and giving their descriptions for each celestial body. This is designed to be an informative simulation type project that has a focus on user interactions. <br/><br/>
    <p class="text-uppercase font-weight-bold">Requirements:</p><br>

Users can<br/>
•	Register.<br/>
•	(Login/Logout.)/ Username<br/>
•	Email notifications<br/>
o	Email feature.<br/>
•	[Modify this requirement: You must handle images somewhere in your application with S3]<br/>
•	[Requirement 1].zoom in/out<br/>
•	[Requirement 2].Solar System build<br/>
•	[Requirement 3].labeling<br/>
•	[Requirement 4].Animation<br/></div>
</div>
</body>
</html>