<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Solar System
In this project we will be building an app mapping out our solar system. As well as each planets relative positions and giving their descriptions for each celestial body. This is designed to be an informative simulation type project that has a focus on user interactions.
Requirements

Users can
•	Register.
•	(Login/Logout.)/ Username
•	Email notifications
o	Email feature.
•	[Modify this requirement: You must handle images somewhere in your application with S3]
•	[Requirement 1].zoom in/out
•	[Requirement 2].Solar System build
•	[Requirement 3].labeling
•	[Requirement 4].Animation

</body>
</html>