<!DOCTYPE html>
<html>
<head>
    <title>Solar System</title>
    <link rel="stylesheet" href="solar-system.component.css">
</head>
<script>
      $(function () {
  "use strict";
  
  $(".popup img").click(function () {
    var $src = $(this).attr("src");
    $(".show").fadeIn();
    $(".img-show img").attr("src", $src);
  });
  
  $("span, .overlay").click(function () {
    $(".show").fadeOut();
  });
  
  });
  </script>
<body>
    
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
            <li class="nav-item">
                    <a routerLink="/app-solar-system" routerLinkActive="active" class="nav-link">Solar System</a>
            </li>
        <li class="nav-item">
            <a routerLink="/threedmodel" routerLinkActive="active" class="nav-link">3D Model</a>
        </li>
        <li class="nav-item">
            <a routerLink="/slides" routerLinkActive="active" class="nav-link">Slides</a>
        </li>
        <li class="nav-item">
          <a routerLink="/slidess" routerLinkActive="active" class="nav-link">Information</a>
      </li>
    </ul>    
</nav>

    <img class='object'        src='../assets/sun.png'            id='Sun'        >

    <img class="object planet" src="../assets/mercury.png"        id="Mercury"    >
    <img class="object planet" src="../assets/venus.png"          id="Venus"      >
    <img class="object planet" src="../assets/Earth.png"          id="Earth"      >
    <img class="object planet" src="../assets/mars.png"           id="Mars"       >
    <img class="object planet" src="../assets/jupiter.png"        id="Jupiter"    >
    <img class="object planet" src="../assets/saturn.png"         id="Saturn"     >
    <img class="object planet" src="../assets/uranus.png"         id="Uranus"     >
    <img class="object planet" src="../assets/neptune.png"        id="Neptune"   >
    <img class="object"        src="../assets/asteroid belt.png"  id="belt"       >-->
    <!--<img class="object planet" src="../assets/Pluto.png" id="Pluto">-->
    <div class="object"             id="moon"           ></div>
    <button type="button" click="play()">PLAY</button>
    <button type="button" click="stop()">PAUSE</button>
    <button class="top-right" (click)="home()">HOME</button>    

    <div class="object p-orbit"></div>
    
    <div class="object p-orbit"></div>
    <div class="object p-orbit"></div>
    
    <div class="object p-orbit"></div>
    <div class="object p-orbit"></div>
    <div class="object p-orbit"></div>
    <div class="object p-orbit"></div>
    <div class="object p-orbit"></div>
    

    <div class="show">
      <div class="overlay"></div>
      <div class="img-show">
        <span>X</span>
        <img src="">
      </div>
    </div>       

    
  
    <script src="app.component.ts"></script>

</body>
</html>