<!DOCTYPE html>
<html>
<head>
    <title>Solar System</title>
    <link rel="stylesheet" href="solar-system.component.css">
</head>
<body>
    <img class='object'        src='../assets/sun.png'            id='Sun'        >
    <img class="object planet" src="../assets/mercury.png"        id="Mercury"    >
    <img class="object planet" src="../assets/venus.png"          id="Venus"      >
    <img class="object planet" src="../assets/Earth.png"          id="Earth"      >
    <img class="object planet" src="../assets/mars.png"           id="Mars"       >
    <img class="object planet" src="../assets/jupiter.png"        id="Jupiter"    >
    <img class="object planet" src="../assets/saturn.png"         id="Saturn"     >
    <img class="object planet" src="../assets/uranus.png"         id="Uranus"     >
    <img class="object planet" src="../assets/neptune.png"        id="Neptune"   >
    <img class="object"        src="../assets/asteroid belt.png"  id="belt"       >
    <!--<img class="object planet" src="../assets/Pluto.png" id="Pluto">-->
    <div class="object"                                           id="moon"           ></div>
    <button type="button" onclick="play()">PLAY</button>
    <button type="button" onclick="stop()">PAUSE</button>


    <div class="object p-orbit"></div>
    <div class="object p-orbit"></div>
    <div class="object p-orbit"></div>
    <div class="object p-orbit"></div>
    <div class="object p-orbit"></div>
    <div class="object p-orbit"></div>
    <div class="object p-orbit"></div>
    <div class="object p-orbit"></div>

    

    <script src="app.component.ts"></script>

</body>
</html>