body{
    background-color: black;
    margin: 0;
    padding: 0;
    height: 200vmin;
}

.object{
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(50vmin);
}

.popup{
    width: 900px;
    margin: auto;
    text-align: center
}
.popup img{
    width: 200px;
    height: 200px;
    cursor: pointer
}
.show{
    z-index: 999;
    display: none;
}
.show .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.66);
    position: absolute;
    top: 0;
    left: 0;
}
.show .img-show{
    width: 600px;
    height: 400px;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden
}
.img-show span{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
}
.img-show img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}




.p-orbit{
    border: 0.1vmin solid lightgrey;
    opacity: 0.5;
    background: transparent;

}

#belt{
    height: 97vmin;
    width: 97vmin;
    animation: spin 50s infinite linear;
    margin-top: 50vmin;
}

@keyframes spin{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(-360deg)}
}

.planet{
    z-index: 100;
}

#Sun{
    height: 12vmin;
    width: 12vmin;
}

#moon{
    height: 1vmin;
    width: 1vmin;
    background-color: white;
}

#Mercury{
    height: 2vmin;
    width: 2vmin; 
}

#Venus{
    height: 3vmin;
    width: 3vmin;
}

#Earth{
    height: 4vmin;
    width: 4vmin;
}

#Mars{
    height: 3.5vmin;
    width: 3.5vmin;
}

#Jupiter{
    height: 8vmin;
    width: 8vmin;
}

#Saturn{
    border-radius: 0%;
    height: 12vmin;
    width: 12vmin;
}

#Uranus{
    height: 6vmin;
    width: 6vmin;
}

#Neptune{
    height: 5vmin;
    width: 5vmin;
}

